
/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}
	html {
		min-width: 300px;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/*Reset*/

body {
  font-family: 'Roboto Slab', serif;

  --primaryColor: #BA5240;
  --lightAccent: #D1A039;
  --darkAccent: #8E9195;
  --lightColor: #F0EAD6;
  --darkColor: #322E31;
  /* made with: http://colormind.io/bootstrap/ */

	--phoneWidth: 765px;
	--tabletWidth: 950px;

  color: var(--darkColor);
	background-color: var(--darkColor);
}

h1 {
  vertical-align: middle;
  font-size: 500%;
}
h2 {
	color: var(--primaryColor);
  font-size: 700%;
  padding-bottom: 1%;
}
h3 {
	color: var(--primaryColor);
  font-size: 200%;

}
p {
		line-height: 1.6;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
tab {
  padding-left: 4em;
  padding-right: 4em;
}

/* <mainphoto> */
div#mainphoto {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: -1;
}
div#mainphoto-overlay {
  height: 100vh;
  padding-top: 35vh;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 950px;
  margin: 0 auto ;
	user-select: none;
}
div#mainphoto-title {
  text-align: center;
  padding: 5% 0;
  background-color: rgba(142, 145, 149, 0.3);
	/* background-color: var(--primaryColor); */
  color: var(--lightColor);
}
div#mainphoto-title h1 {
  padding: 0 0 2% 0;
}
table {
	width: 100%;
}
td {
	width: 33.33%;
	vertical-align: middle;
}
td.tabeleDivider {
	border-left: 2px solid var(--lightColor);
	border-right: 2px solid var(--lightColor);
	text-align: center;
}

  /* <arrowdown> */
@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}
#arrowdownContainer {
  height: 8vw;
  width: 8vw;
  bottom: 2vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
#arrowdown {
  display: inline-block;
  object-fit: contain;
  cursor: pointer;

  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
}
#arrowdown:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
  /* </arrowdown> */
/* </main-photo> */

/* <nav> */
header {
  height: 10vh;
  width: 100%;
  position: fixed;
  z-index: 2;
	/* background: var(--primaryColor); */
}
header a {
  float: left;
  color: var(--lightColor);
  text-decoration: none;
  height: 100%;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  padding-top: 4.1vh;
  font-size: 1.8vh;
}
header a:hover {
  filter: brightness(115%);
}
a#home_logo {
  width: 200px;
	text-align: center;
	vertical-align: middle;
  /* padding-left: 2.5%; */
  /* padding-right: 2.5%; */
  font-weight: bold;
  font-size: 125%;
  /* padding-top: 3.7vh; */
}
nav {
  user-select: none;
  height: 100%;
  float: left;
}
nav ul {
  list-style:none;
  height: 100%;
}
nav ul li {
  display:inline;
}
.selectednav {
  color: var(--lightAccent);
}
.navHamburger, .navCross {
	background: none;
	border: 0;
	float: left;
	height: 100%;
	width: 10vh;

	font-size: 3vh;
	color: var(--lightColor);

	cursor: pointer;
}
@media only screen and (max-width: 820px) {
	.links {
		background-color: var(--primaryColor);
		width: 60vw;
		height: 90vh;
		position: absolute;
		top: 10vh;
		border-top: solid 2px var(--darkColor);
	}
	nav ul {
	  height: 10vh;
	}
	header a, a#home_logo {
		text-align: left;
		padding-left: 10vw;
		width: 100%;
	}
}
/* </nav> */

/* <content> */
.wrapperContent {
  background-color: var(--lightColor);
}
.content {
  min-height: 100vh;
  padding-top: 15vh;
  padding-bottom: 10vh;
  max-width: 950px;
  margin: 0 auto;
}
/* </content> */

/* <home> */
.post {
  border: solid 2px var(--darkColor);
  border-radius: 10px;
  height: 250px;
  width: 100%;
  padding: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 3%;
  cursor: pointer;
}
.post:hover {
    filter: brightness(102%);
    background-color: var(--lightColor);
		/* box-shadow: 1px 1px 15px var(--darkAccent); */
}
.post img {
  border-radius: 10px;
  border: 1px solid var(--darkColor);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.postImage {
  float: left;
  height: 100%;
  width: 27.5%;
  margin: 0;
}
.postContent {
  color: var(--darkAccent);
  float: left;
  margin-left: 2%;
  width: 70.5%;
  text-align: justify;
	height: 100%;
	position: relative;
}
.postTitle {
	width: 100%;
	position: relative;
}
.postName {
	width: 85%;
}
.postDate {
	width: 15%;
	color: var(--primaryColor);
	position: absolute;
	right: 0;
	bottom: 0;
}
.postExcerpt {
	width: 100%;
	margin-top: 2%;
}

@media only screen and (max-width: 950px) {
	.postName {
		width: 100%;
	}
	.postDate {
		width: 100%;
		line-height: 1.2;
		position: relative;
		float: left;
	}
	.postExcerpt {
		margin-top: 4%;
	}
	.wrapperContent {
		padding: 1vh 1vw;
	}
}
@media only screen and (max-width: 765px) {
	.post {
		height: 600px;
	}
	.postImage {
		width: 100%;
		height: 50%;
	}
	.postContent {
		height: 50%;
	}
  h3 {
		font-size: 180%;
		text-align: left;
	}
}
/* </home> */

/* <about> */
.aboutmePhoto {
	width: 30vh;
	height: 40vh;
	border: 5px solid var(--lightAccent);
	box-shadow: 6px 6px 12px var(--darkAccent);
	border-radius: 50px 0px;
}
.imgFloatLeft {
	float: left;
	margin: 10px;
}
.imgFloatRight {
	float: right;
	margin: 10px;
}
.textAccent {
	color: var(--lightAccent);
}
/* </about */

/* <contact> */
p#contact-text {
	margin: 20px 0;
}
input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
textarea {
  height: 200px;
}
/* </contact> */


/* <footer> */
footer {
  height: 12vh;
  background-color: var(--primaryColor);
  color: var(--lightColor);
  font-size: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0;
  border-top: solid 5px var(--darkColor);
}
footer a {
  float: right;
}
div#Copyright {
  max-width: 950px;
  margin: 0 auto ;
}
.iconSocials {
	width: 3vw;
	height: auto;
	margin-left: 0.25vw;
}
/* </footer> */
